<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>springbooot-thymeleaf-tomcat</title>
    <!--/*/ <th:block th:include="fragments/head :: head"></th:block> /*/-->
</head>
<body>

<div class="container">

    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>springboot-thymeleaf-tomcat</h1>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Authentication
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Login</h5>
                    <p class="card-text">
                        Login and then check the other two links to see how different authentication works.
                        Credentials to use:
                        <ul>
                            <li><b>user</b>/<i>user</i> - log in as a user and have user roles</li>
                            <li><b>manager</b>/<i>manager</i> - log in as a manager and have user,manager roles</li>
                        </ul>
                    </p>
                    <a href="/login" class="mt-auto btn btn btn-primary">Let's go!</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <div class="card-header">
                    Authenticated check
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">user</h5>
                    <p class="card-text">We'll have you log in as a user and see the user page</p>
                    <a href="/authentication/user" class="mt-auto btn btn-secondary">user check</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <div class="card-header">
                    Authenticated check
                </div>
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">admin</h5>
                    <p class="card-text">Alternatively, we'll have you log in as an admin.</p>
                    <a href="/authentication/admin" class="mt-auto btn btn-secondary">admin check</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <div sec:authorize="isAuthenticated()">
                User: <b><span sec:authentication="name">Username</span></b>
                <br>
                Roles: <i><span sec:authentication="principal.authorities">Roles</span></i>
                <form class="mt-3" th:action="@{~/logout}" method="post">
                    <input class="btn btn-warning" type="submit" value="Logout" />
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>